/* ---------- Contact Section ---------- */

.section--contact {
  background-color: #3a3e64;
  color: #fff;

  .section__item {
    margin-bottom: 40px;
  }

  h5 {
    color: $white;
    margin-bottom: 15px;
  }

  p {
    color: rgba(255, 255, 255, 0.5);
  }

  .fa {
    font-size: 18px;
    color: $white;
    border: 1px solid $white;
    margin-right: 5px;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    transition: all .3s;
  }

  .fa:hover {
    background-color: $red;
    border-color: $red;
    color: $white;
  }
}
