body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

/* ---------- Typography ---------- */

h4 {
  font-size: 22px;
  color: $gray-dark;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  color: $gray-dark;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
}
